body {
  background-color: white;
  color: white;
}

#scheduler_container {
  height: 2100px;
  width: 100%;
  background-color: #0D1117;
}

// #scheduler_main {
  // border: 4px solid black; // Remove test code.
// }

#menu {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  width: 20%;
}

#schedule_task {
  height: 50px;
  width: 100%;
}

#selected:focus {
  background-color: gray;
}

#selected_item {
  background-color: grey;
}