#scheduler_container {
  height: 1000px;
  width: 100%;
}

#scheduler_main {
  border: 4px solid black; // Remove test code.
}

#menu {
  border: 1px solid red;
  height: inherit;
  width: 10%;
}

#calendar {
  border: 1px solid red;
  height: inherit;
  width: 90%;
}