body {
  background-color: #0D1117;
  // background-color: white;
  width: 100vw;
}

#container {
  // border: 3px solid blueviolet; // Remove test code.
  height: 93vh;
  width: 100%;
  background-color: #0D1117;
  // background-color: #263048;
  // background-image: linear-gradient(#263048, rgb(22, 27, 34));
  color: white;
}

main {
  // border: 2px solid magenta;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
  width: inherit;
}

#dashboard {
  // border: 2px solid blue;
  height: inherit;
  width: 80%;
}

.mui_icons {
  color: #cdd2da;
}

.mui_icons:hover {
  color: #88a2cf;
  cursor: pointer;
}

.progress_bar {
  // color:#324d79;
  color: #88a2cf;
}