.layout {
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  margin: 75px 10px 0 10px;
  height: 1000px;

}

.projects {
  border: 5px solid gray;
  width: 20%;
}

.deliverables {
  border: 5px solid gray;
  width: 80%;
}

.project_list_item {
  border: 2px solid black;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin-bottom: 1px;
  transition: 0.2s;
}

.deliverable_list_item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  margin-bottom: 1px;
  transition: 0.2s;
}

.project_list_item:hover {
  background-color: rgb(200, 200, 200);
}

.deliverable_list_item:hover {
  /* background-color: rgb(200, 200, 200); */
  background-color: lightcyan;
}

.project_name {
  /* border: 1px solid blue; */
  height: 50%;
  margin: 0 5px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.project_description {
  /* border: 1px solid blue; */
  height: 30%;
  margin: 0 10px 0 10px;
  font-size: 12px;
}

.project_edit {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  margin: 0 5px 0 5px;
}

.mui_icons {
  /* border: 1px solid red; */
  color: rgb(140, 140, 140);
  transform: scale(0.7);
}

.mui_icons:hover {
  color: white;
  cursor: pointer;
}

.deliverable_name {
  /* border: 1px solid blue; */
  height: 50%;
  margin: 0 5px 0 5px;
  font-size: 20px;
  font-weight: bold;
}


.deliverable_description {
  /* border: 1px solid blue; */
  height: 50%;
  margin: 0 10px 0 10px;
  font-size: 12px;
}

.project_item_list {
  padding: 0;
}