#navbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  background-color: #161B22; 
  padding: 10px 10px;
  color: white;
  width: 100%;
}

#app_name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav_wrapper {
  display: flex;
}

.nav_item {
  padding: 10px;
  padding-top: 12px;
}

.login_nav {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
}

.login_user {
  padding-top: 12px;
}

.login_nav :link {
  padding: 10px;
  padding-top: 12px;
}

a {
  text-decoration: none;
  color: white
}