#navbar {
  border: 2px solid red;
  background-color: lightblue; 
  padding: 15px 0 15px 0;
  width: 100%;
}

#app_name {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav_item {
  /* border: 2px solid red; */
  display: inline;
  padding: 10px;
}

.login-nav {
  flex-direction: flex-end;
}

.login-nav :link {
  padding: 10px;
}
