#edit_project {
  // border: 1px solid black; // Remove test code.
  transform: scale(1);
  margin: 1px 2px 0 0;
}

#delete_project {
  // border: 1px solid black; // Remove test code.
  transform: scale(1);
  margin-top: 1px;
}

.project_list_item {
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 125px;
  margin-bottom: 1px;
}

.project_list_item:hover {
  background-color: #2f3949;
  color: white;
}

.project_list_item--selected {
  background-color: #2f3949;
  color: white;
}

.project_name {
  // border: 1px solid red; // Remove test code.
  height: 40%;
  word-wrap: normal;
  font-weight: bold;
  margin-left: 5px;
}

.project_description {
  // border: 1px solid red; // Remove test code.
  height: 15%;
  font-size: 13px;
  margin-left: 10px;
}

.project_deliverables {
  // border: 1px solid red; // Remove test code.
  height: 15%;  
  font-size: 13px;
  margin-left: 10px;
}

.project_progress {
  // border: 1px solid red; // Remove test code.
  margin-left: 5px;
}

.project_edit {
  // border: 1px solid red; // Remove test code.
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30%;
}