.container {
  display: flex;
}

#user-info {
  // border: 2px solid green;
  display:flex;
  flex-direction: column;
  margin: 50px 10px 20px 50px;
  width: 20vw;

}

#team-info {
  // border: 2px solid red;
  width: 80vw;

}
