#calendar {
  // border: 1px solid red;
  height: 100%;
  width: 80%;
}

#table {
  border-collapse: collapse;
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 1500px;
}

.table {
  height: 50px;
  width: 250px;
  text-align: center; 
}

.time {
  border: transparent;
  font-weight: bold;
  color: rgb(230, 230, 230);
  width: 110px;
}

.header {
  border: 1px solid transparent;
  color: rgb(230, 230, 230);
}

.item {
  font-size: 13px;
  word-wrap: break-all;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.last {
  border-right: 2px solid transparent;
}


.booked {
  background-color: #2f3949;
  border-bottom: 2px solid #2f3949;
  cursor: pointer;
}

.booked.name {
  max-width: 197.4px;
  min-width: 197.4px;
}

.booked.bottom {
  border-bottom: 2px solid grey;
}

.completed {
  background-color: rgb(105, 168, 132);
  border-bottom: 2px solid rgb(105, 168, 132);
  color: black;
  cursor: pointer; 
}

.completed.name {
  max-width: 197.4px;
  min-width: 197.4px;
}