#container_login {
  // border: 1px solid red; // Remove test code.
  // background-color: white;
  // background-color: #0D1117;
  color: white;
}

body {
  background-color: #0D1117;
  color: white;
}

main {
  // border: 1px solid magenta; // Remove test code.
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#to_register {
  color: #1A76D2;
  text-decoration: underline;
}

#password_input {
  color: white;
}